.form {
  .label-text {
    font-size: $font-size;
    font-family: $font-base;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: $border-main;
    .input-text {
      @include buttons;
      width: 50%;
    }
    .input-long-text {
      @include buttons;
      width: 100%;
    }
  }
  .submit-button {
    text-align: center;
    margin: $spacing-main;
    padding: $spacing-main*0.5;
    width: 25%;
  }
}