.login-box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin:$spacing-main*4 0 $spacing-main*2 0;
  .login-head {
    @include heading2;
    margin-bottom: $spacing-main;
  }
}
.login-register-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $color-article;
  .label-text {
    text-align: start;
    margin: $spacing-main*1.75;
    padding: 0 $spacing-main*2 0 $spacing-main*2;
    .login-text {
      @include buttons;
      padding: $spacing-main*0.25;
      background-color: $color-article;
      border-bottom: $border-main;
    }
  }
}
.btn-section {
  background-color: $color-main-article;
  position: relative;
  .btn {
    margin: $spacing-main*1.5;
    @include buttons;
    position: absolute;
    bottom: -10rem;
    right:7rem;
    font-size: $font-size*1.15;
    .link-primary {
      @include links;
      font-size: $font-size*1.15;
    }
  }
    .btn-login {
      border: $border-main;
      padding: $spacing-main*0.75;
      position: absolute;
      bottom: -10rem;
      left: 7rem;
}
}
@media (min-width: 150px) and (max-width: 576px) {
  .btn-section {
    display: flex;
    flex-direction: column;
      .btn {
        bottom: -10rem;
        right:2rem;
        font-size: $font-size;
        .link-primary {
          font-size: $font-size;
        }
      }
      .btn-login {
        position: absolute;
        bottom: -10rem;
        left: 2rem;
      }
  }
  .login-register-form {
    .label-text {
      text-align: center;
    }
      margin: $spacing-main;
      .login-text {
        padding: 0;
      }
  }
}

