.nav-primary {
  display: flex;
  justify-content: flex-end;
  .button-login {
   @include buttons;
 .link-primary {
   font-size: $font-size;
   @include links;
 }
  }
 .button-register {
   @include buttons;
   border: 1px solid $color-login;
   margin: $spacing-main;
   .link-primary {
     font-size: $font-size;
     @include links
   }
 }
}
.nav-secondary {
  margin: $spacing-main;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  min-height: 52px;
  .nav-menu {
    margin: $spacing-main*0.2;
    color: $color-font;
    font-size: $font-size*1;
    padding: $spacing-main * 0.25;
    text-align: center;
    list-style: none;
    box-sizing: border-box;
    &:hover {
      border: 1px solid $color-font;
      box-sizing: border-box;
    }
    .link-primary {
      @include links;
    };
  }
  .nav-start {
    border: 1px solid $color-font;
  }
}
@media (min-width: 769px) and (max-width: 992px) {
  .nav-primary {
    font-size: $font-size*0.8;
    .button-register {
      margin: $spacing-main*0.5;
    }
  }
  .nav-secondary {
    margin: $spacing-main*0.25;
    min-height: 45px;
    .nav-menu {
      margin: $spacing-main*0.2;
      font-size: $font-size*0.9;
      padding: $spacing-main * 0.1;
    }
  }
}

@media (min-width: 400px) and (max-width: 768px) {
  .nav-primary {
    margin: $spacing-main;
    font-size: $font-size;

    .button-register {
      margin: $spacing-main*0.25;
    }
  }
  .nav-secondary {
    min-height: 52px;
    display: flex;
    justify-content: center;
    .nav-menu {
      margin: $spacing-main*0.2;
      font-size: $font-size;
      padding: $spacing-main * 0.25;
    }
  }
}

@media (min-width: 0px) and (max-width: 399px) {
  .nav-primary {
    display: flex;
    flex-direction: column;
    margin: $spacing-main*0.5;
    .button-login {
      .link-primary {;
        font-size: $font-size;
        margin: $spacing-main*0.1;
      }
    }
    .button-register {
      font-size: $font-size;
      margin: $spacing-main*0.1;
      .link-primary {;
        font-size: $font-size;
        margin: $spacing-main*0.1;
      }
    }
  }
  .nav-secondary {
    min-height: 35px;
    display: flex;
    flex-direction: column;
    .nav-menu {
      margin: $spacing-main*0.1;
      font-size: $font-size;
      padding: $spacing-main*0.5;
    }
  }
}
